<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Sansita+Swashed:wght@600&display=swap" rel="stylesheet">
<style>
    .banner {
        background: linear-gradient(90deg, #ffc315, #f79323, #f16623);
        padding: 10%;
        width: 80%;
        height: 120px;
    }
    h1 {
        margin-top: 20px;
        text-align: center;
        font-family: 'Sansita Swashed', cursive;
        font-size: 50px;
    }
    .slogan {
        text-align: center;
        font-family: 'Sansita Swashed', cursive;
        font-size: 30px;
    }
</style>
<div class = "banner">
<h1>TravelBlog</h1>
<p class = "slogan">Where're we heading</p>
</div>